{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('plugins/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <main style="margin-top: 20px">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-4">
                    The following list is draggable.
                    <ul class="list-group" id="task-list">

                    </ul>
                </div>
                <div class="col-4" style="margin-top: 20px;">
                    <form id="task-form">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('plugins/popper.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/tasks.js') }}"></script>
{% endblock %}